.App-header {
  background-color: #6AC3AE;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: top;
  font-size: calc(10px + 2vmin);
  
  .App-link {
    color: #61dafb;
  }

  a {
    color: white;
    cursor: pointer;
  }

  fieldset {
    border: 0;
  }

}








