.Landing {
  .Landing-img {
    width: 100vw;
  }

  &__container {
    display: flex;
    justify-content: space-around;

    &__whatsSavit {
        width: 25%;
    }

    &__howWorks {
        width:25%;
    }
  }
}
