.NewPet {
  margin-top: 150px;
  margin-bottom: 50px;
  color: #4d4d4d;

  font-weight: bold;

  display: flex;
  flex-direction: column;
  align-items: center;

  form {
    background-color: #83cfbd6c;
    box-shadow: 5px 5px 22px -4px rgba(0, 0, 0, 0.61);

    width: 80%;

    border-radius: 10px;

    padding-bottom: 60px;

    fieldset {
      border: 0;

      display: flex;
      flex-direction: column;

      label {
        text-align: center;
      }

      input {
        width: 60%;
        border-radius: 15px;
        border: 0;
        padding: 6px 30px;

        text-align: center;

        margin-top: 10px;
        margin-left: 216px;

        transition: 0.3s;

        &:focus {
          padding: 10px 30px;
          box-shadow: 5px 5px 22px -4px rgba(0, 0, 0, 0.685);

          &::placeholder {
            color: transparent;
          }
        }
      }
      .checkbox {
        border-radius: 10px;
      }
    }
  }

  &__btn {
    margin-top: 30px;

    text-align: center;

    input {
      text-decoration: none;
      transition: 0.3s;
      border: 0;
      border-radius: 10px;
      padding: 7px;

      font-size: 16px;
      font-weight: bold;

      background-color: white;

      &:hover {
        background-color: white;
        font-size: 20px;
        padding: 15px;
        border-radius: 10px;
        box-shadow: 5px 5px 22px -4px rgba(0, 0, 0, 0.685);
      }
    }
  }
}
