.Pets {
  margin-top: 150px;
  ul {
    list-style-type: none;

    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;

    li {
      box-shadow: 5px 5px 22px -4px rgba(0, 0, 0, 0.61);
      border-radius: 10px;

      margin-bottom: 80px;

      background-color: #83cfbd6c;

      transition: 0.3s;
      &:hover {
        font-weight: bold;
        background-color: #6ac3ae;
        
      }

      img {
        width: 500px;
        border-radius: 10px 10px 0px 0px;

        transition: 0.3s;
        &:hover {
          box-shadow: 5px 5px 22px 2px rgba(0, 0, 0, 0.76);
        }
      }

      h3 {
        color: #4d4d4d;
        text-align: center;
      }

      a {
        text-decoration: none;
      }
    }
  }
}
