
.nav-style {

	


	.header{

		width: 100vw;
		display: flex;
		justify-content: space-evenly;
		align-items: center;
		

	}

	ul li a {
		text-decoration: none;
	}

	img {

		border-radius: 10px;
	}


}



