.Navbar {
	display: flex;
	justify-content: space-around;
	align-items: center;

	width: 100vw;

	img{
		border-radius: 10px;
	}

	&__list {
		list-style-type: none;
		
		display: flex;
		align-items: center;
		
		li {
			margin: 0 0.5rem;

			a {
				text-decoration: none;
			}
		}
	}
}
